/*Universal Selector*/
*{
    font-family: 'Times New Roman', Times, serif;
}
/*Type Selector*/
header{
    height:fit-content;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    display:flex;
    justify-content:space-evenly;
    background-color: #FFADAD;
}
section{
    height: fit-content;
    width: 100%;
    position:relative;
    top:180px;
    background-color: bisque;
}
footer{
    height: auto;
    width: 100%;
    position:relative;
    top:180px;
    background-color: bisque;
}
ul{
    background-color: aqua;
}


/*Class Selector*/
.nav-button{
    background-color: green;
    
}

/*ID Selector*/
